<head>
  <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/header.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/artist_show.css" type="text/css">
</head>

<body>
  <div class="header">
    <div class="button"><a href="/artists">MyMusicApp</a></div>
    <div class="button"><a href="/artists/new">+ Artist</a></div>
  </div>
  <div class="filler"></div>
  <div class="artist-img"><img src="<%= @artist.image_url %>"/></div>
  <h1><%= @artist.name %></h1>
  <div class="artist-options">
    <div class="artist-options-link-container">
      <a href="/artists/<%= @artist.id %>/edit" class="artist-options-link">Edit Artist</a>
    </div>
    <div class="artist-options-link-container">
      <a href="/artists/<%= @artist.id %>" class="artist-options-link">Delete Artist</a>
    </div>
    <div class="artist-options-link-container">
      <a href="/albums/new" class="artist-options-link">Add Album</a>
    </div>
  </div>
  <div class="albums">
    <% @albums.each do |album| %>
      <div class="album">
        <div class="album-img"><img src="<%= album.image_url %>"/></div>
        <div class="album-details">
          <div class="album-name"><%= album.name %></div>
          <% @tracks.each do |track| %>
          <% next if track.album_id != album.id %>
          <div class="album-track-title"><%= track.title %></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</body>
